* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.wrap {
  max-width: 968px;
  min-width: 740px;
  padding: 10px;
}
nav {
  position: relative;
}
.f-nav {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.nav__top {
  background-color: #000;
  height: 40px;
}
.nav__bottom {
  background-color: #3A3A43;
  height: 60px;
}
.layout {
  position: relative;
}
.content {
  margin: 0 auto;
}
.sidebar {
  width: 250px;
  border: 1px solid red;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
}
