@font-face {
	font-family: 'RotondaWebRegular';
	src: url('../font/RotonReg__W/RotonReg__W.eot');
	src:
	     url('../font/RotonReg__W/RotonReg__W.eot?#iefix') format('embedded-opentype'),
	     url('../font/RotonReg__W/RotonReg__W.woff') format('woff'),
	     url('../font/RotonReg__W/RotonReg__W.ttf') format('truetype'),
	     url('../font/RotonReg__W/RotonReg__W.svg#RotondaWeb-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	-moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'RotondaWebRegular', sans-serif;
	font-size: 1em;
	margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
	
}

.wrap {
	position: relative;
}

nav {
	
}

.f-nav {
	z-index: 9999;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.nav__top {
	background-color: #000;
	height: 40px;
}

.nav__bottom {
	background-color: #3A3A43;
	height: 60px;
}

.page__container {
	position: relative;
	max-width: 100%;
//	overflow: hidden;
}

//.layout::after {
//	clear: both;
//}

.tabs-view {
	max-width: 1280px;
	min-width: 740px;
	margin: 0 auto;
}

.page__content {
	border: 2px solid red;
	margin-right: 256px;
}

.page__mainwrap {
	width: auto;
	padding: 24px 24px 64px;
	border: 2px solid #ccc;
}

.sidebar {
	float: right;
	width: 256px;
	min-width: 0;
	padding: 0;
	background: #ebebed;
	right: 0;
	position: absolute;
	margin: 0;
	border-left: 1px solid #ccc;
	z-index: 1;
	top: 0;
	bottom: 0;
}

